<div class="jumbotron exam">
    <p>{{exam.description}}</p>
    <p>The time limit for this test is: {{(exam.duration.seconds / 60) || ""}} minutes</p>
    <p>Enter your credentials to begin the test!</p>

    <div class="wrapper">
        <form class="form-signin">
            <input type="text" class="form-control" ng-model="user" name="username" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required=""/>
            <button ng-click="start()" class="btn btn-lg btn-primary btn-block" type="submit">Start</button>
        </form>
    </div>

</div>